
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"poppins",sans-serif;

}
body{
    background: #081b29;
    color: #ededed;
    text-decoration: none;
}

body::-webkit-scrollbar {
    display: none;
  }

.header {
position: fixed;
top: 0;
left: 0;
width: 100%;
background: #081b29;
display: flex;
justify-content: space-between;
align-items : center;
z-index: 1000;

}
.logo {
    position: relative;
font-size: 25px;
color: #ededed;
text-decoration: none;
font-weight: 600;
padding-left: 20px;
}

header .navbar ul {
list-style: none;
}
header .navbar ul li {
    position: relative;
    float: left;
}
header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    font-weight: 500;
    transition: .3s;
    text-decoration: none;
    color: #ededed;
    display: block;
}
/* .navbar a {
    list-style: none;
    font-size: 20px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
margin-left:32px;
transition: .3s;
 } */



 .navbar a:hover {
    color: #00abf0;
 }
 .navbar a:hover,
 .navbar a.active {
     color: #00abf0;}
    .home {
    height: 100vh;
     /* background: url('Untitled\ design.png') no-repeat;    */  /*for photo*/
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content { 
    max-width: 600px;
}
.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}


.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}
.home-content p {
    font-size: 16px;
    margin: 20px 0 40px ;
}
.home-content .btn-box {
    display: flex;
    justify-content: space-between;
width: 345px;
height: 50px;
}
.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
font-size: 19px;
color: #081b29;
text-decoration: none;
font-weight: 600;
letter-spacing: 1px;
z-index: 1;
overflow: hidden;
transition: .5s;;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}
.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a::before { 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0 ;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
   width: 100%; 
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
} 


.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}
.home-sci a::before {
    content: '';
    position: absolute ;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a:hover::before {
    width: 100%;
}

.footer{
    text-align: center;
    padding-bottom: 20px;
}

#menu-bar{
    display: none;
    margin: right 20px;
}
header label{
font-size: 20px;
cursor: pointer;
display: none;
}

@media(max-width:991px){
    .header{
        padding: 20px;
    }
    header label{
        display: initial;
        padding-right: 20px;
        font-weight: 600;

    }
    header .navbar {
        position: absolute;
       background-color: #081b29;
        top: 100%;left: 0; right:0 ;
        border-top: 1px solid;
        display: none;
        
    }
    
    header .navbar ul li{
        position: relative;
        width: 100%;
        height: 100%;
    }
    #menu-bar:checked ~ .navbar {
display: initial;
    }

    .home-content h1 {
        font-size: 32px;
        font-weight: 700;
        line-height: 1.2;
    }
    .home-content h3 {
        font-size: 25px;
        font-weight: 700;
        color: #00abf0;
    }
        .home-content p {
        font-size: 13px;
        margin: 20px 0;
          
    }
    .btn-box a {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 100%;
        background: #00abf0;
        border: 2px solid #00abf0;
        border-radius: 8px;
    font-size: 15px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;;
    }
    
        .home-content .btn-box {
        display: flex;
        justify-content: space-between;
    width: 300px;
    height: 50px;
    }
    .home-sci {
        
            width: 170px;
            display: flex;
            justify-content: space-between;
            
    }
    .footer{
        font-size:12px;
    text-align: center;
    padding-bottom: 10px;
}
}

