/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #081b29;
    color: #ededed;
}
body::-webkit-scrollbar {
    display: none;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #081b29;
    display: flex;
    justify-content: space-between;
    align-items : center;
    z-index: 1000;
    
    }
    .logo {
        position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    padding-left: 20px;
    }
    
    header .navbar ul {
    list-style: none;
    }
    header .navbar ul li {
        position: relative;
        float: left;
    }
    header .navbar ul li a {
        font-size: 20px;
        padding: 20px;
        font-weight: 500;
        transition: .3s;
        text-decoration: none;
        color: #ededed;
        display: block;
    }

/* .navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 32px;
    transition: .3s;
} */

.navbar a:hover {
    color: #00abf0;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

.resume {
    margin: 100px 250px;
    justify-content: center;
    align-items: center;
    text-align: justify;
}


img{
    
    height: 100px;
    width: 80px;
}

.skill {
    height: auto;
    width: 80vw;
    display: flex;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 10px;
}

#fresh {
    font-weight: 400;
    font-size: 20px;
}

.skill li {
    margin-left: 30px;
}

.footer {
    height: auto;
    width: 80vw;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

.home-sci {
    margin:auto;
     bottom: 40px;
     width: 170px;
     display: flex;
     justify-content: space-between;
 } 

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 50px;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a:hover::before {
    width: 100%;
}

.resume-content h1 {
    margin-bottom: 20px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    color: #00abf0;
}

.resume-content h2 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
    margin-bottom: 10px;
}

.resume-content p {
    font-size: 18px;
    color: #ededed;
    margin-bottom: 10px;
}



#menu-bar{
    display: none;
    margin: right 20px;
}
header label{
font-size: 20px;
cursor: pointer;
display: none;
}

@media(max-width:991px){
    .header{
        padding: 20px;
    }
    header label{
        display: initial;
        padding-right: 20px;
        font-weight: 600;

    }
    #menu-bar {
        display: none;
    }
    
    .resume-content{
        margin-top:50px;
    }
    header .navbar {
        position: absolute;
       background-color: #081b29;
        top: 100%;left: 0; right:0 ;
        border-top: 1px solid;
        display: none;
        
    }
    
    header .navbar ul li{
        position: relative;
        width: 100%;
        height: 100%;
    }
    #menu-bar:checked ~ .navbar {
display: initial;
    }
    .home {
        height: 100vh;
        width: 100vw;
         /* background: url('Untitled\ design.png') no-repeat;    */  /*for photo*/
        background-size: cover;
        background-position: center;
        display: flex;
        align-items:center ;
        padding: 0 10%;
        /* margin-top:30px; */
    }
      .resume {
    
        margin: 20px;
    }

    .skill {
        display:inline-block;
        width: 100%;
    }

    .skill li {
        list-style: none;
        margin: 10px 0;
    }

    .resume-content h1 {
        font-size: 24px;
    }

    .resume-content h2 {
        font-size: 18px;
    }

    .resume-content p {
        font-size: 14px;
    }

    .photo-frame {
        display: block;
        margin: 20px auto;
    }

    #menu-bar {
        display: none;
    }

    header label {
        display: block;
        margin: 20px 0;
    }
    footer {
        font-size:15px;
    height: auto;
    width: 80vw;
    margin: auto;
    justify-content: center;
    padding-bottom: 20px;
}
}
